
.two-columns {
  float: left;
  width: 50%;
  padding: 15px;
}

.category {
  width: 100%
  padding: 15px;
}

#history {

}

#weekly-recap {

}

#critics-report {

}

#trade-block {

}

#media {

}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#to-top {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
